.navbar {
    /*position*/
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0px 50px 10px 10px;
    /*other properties */
    text-decoration-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    background-color: crimson;
    border: 2px solid white;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
}

body {
    background-color: cornsilk;
    height: 100%;
    margin: 80px 20px 20px 20px;
}
