.navbar {
    /*position*/
    overflow: hidden;
    position: fixed top;
    width: 75%;
    
    
    /*other properties */
    text-decoration-color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    background-color: #d4e1f7;
    border: 2px solid white;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px;
}

a:hover {
    color: black;
}

body {
    background-color: #d4e1f7;
    height: 100%;
    margin-top: 30px;
}

.content {
	font-size: 20px;
    width: 75%;
    padding-bottom: 20px;
    background-color: white;
    height: 100%;
}

h1, h3, li {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.image {
    height: 100%; 
    width: 100%; 
    max-width: 500px; 
    max-height: 500px;
    margin: 10px 30px 10px 10px;
    float: left;
    border: 2px solid black;
}

